{{#partial "titulo"}}
    {{#organizacion}}
        <title>{{nombre}}</title>
    {{/organizacion}}
{{/partial}}


{{#partial "sources"}}
    <link href="/org_styles.css" rel="stylesheet">
{{/partial}}

{{#partial "contenido"}}
    {{#organizacion}}
        <h1>{{nombre}}</h1>

        <nav>
            <a href="/organizaciones/{{id}}/menu-voluntarios">Soy Voluntario</a>
            |
            <a href="/organizaciones/{{id}}/catalogo-adopcion">Mascotas en Adopción</a>
            |
            <a href="/organizaciones/{{id}}/adoptantes">Publicaciones de Futuros Adoptantes</a>
        </nav>
    {{/organizacion}}
{{/partial}}

{{>layout.hbs}}